<h1>HomePage...</h1>

<% if current_user %>
	<h2>Hi <%= current_user.first_name %></h2>
<% end %>

<div>
	<h3>Blog posts...</h3>
	<%= @posts.inspect %>
</div>

<div>
	<h4>Skills....</h4>
	<%= @skills.inspect %>
</div>



